samp {
  font-size: 13px;
  border: solid 2px maroon;
  background-color: beige;
  display: block;
  font-family: monospace;
  white-space: pre-wrap;
  color: black;
  padding: 5px;
  text-align: left;
}